@import "variables";
@import "utilities";

@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    font-family: 'Lato', sans-serif;
}

h3{
	font-size: 20px;
}

p.font-15{
	letter-spacing: .5px;
	color: rgba(255,255,255,.65);
}

.border-all{
    border: 1px solid #e7ebee;
}

.navbar-nav>.nav-item{
    margin: 5px;

    a.nav-link{
        color: #000000bf;
        font-size: 14px;

        &:hover{
            color: #000;
        }
    }
}

.how-it-works{
    h2{
        font-weight: 600;
        line-height: 40px;
    }

    .how-it-works-tabs{
        .nav>.nav-item{
            position: relative;
            a.nav-link{
                border: 1px solid #ddd;
                color: #000;
                font-weight: 600;
            }
            a.active{
                color: #fff;
            }
            .nav-link::after{
                content: '';
                position: absolute;
                background: #fff;
                height: 10px;
                width: 10px;
                z-index: 1;
                left: 100%;
                top: 50%;
                margin-top: -5px;
                transform: rotate(45deg);
                margin-left: -5px;
                border-top: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom: 0px solid #ddd;
                border-left: 0px solid #ddd;
            }
            // .nav-link:not(.navlink:last-of-type)::after{
            //     border-top: 0px solid #ddd;
            //     border-right: 0px solid #ddd;
            //     border-bottom: 0px solid #ddd;
            //     border-left: 0px solid #ddd;
            // }
            .nav-link.active::after{
                background: #007bff;
            }
        } 
    }
}

.overview{
    h2{
        font-weight: 600;
        line-height: 40px;
    }
    a{
        h4{
            color: #000;
        }
        transition: all 300ms cubic-bezier(.25,.8,.25,1);
    }
    a.active{
        background: #fff !important;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    a.active::after{
        content: '';
        position: absolute;
        z-index: 10;
        height: 30px;
        width: 30px;
        background: #fff;
        left: 100%;
        top: 50%;
        margin-top: -15px;
        transform: rotate(45deg);
        margin-left: -15px;
        border: none;
    }
}

.pricing{
    h2,h3{
        font-weight: 600;
        line-height: 40px;
    }
    .nav{
        .nav-link{
            height: 133.33px;
        }
    }
    .price-plan{
        background: #f8f9fa;
        position: relative;
        height: 400/3px;
        .price{
            position: absolute;
            top: 25px;
            right: 40px;
        }
    }
    .plan-info{
        border-top: 4px solid #007BFF;
        border-radius: 5px;
        height: 400px;
        .plan-info-header{
            p{
                border-bottom: 2px dotted #ddd;
            }
        }
    }
}

.faq{
    .faq-header>h2{
        font-weight: 600;
        line-height: 40px;
    }
    
    .faq-list{
        list-style-type: none;

        h3{
            font-weight: 300;
            line-height: 40px;
            letter-spacing: 0.5px;
        }
    }

    .faq-footer{
        h3{
            font-weight: 600;
            line-height: 40px;
            letter-spacing: 0.5px;
        }
        a{
            border-bottom: 1px dotted;
        }
        a:hover{
            box-shadow: none;
            color: #007bff;
            text-decoration: none;
        }
    }
}

.feedback{
    .feedback-header{
        h2{
            font-weight: 600;
            line-height: 40px;
        }
    }
    .feedback-carousel{
        .card{
            background: #fff;
            position: relative;
            height: 225px;
        }
        .card::before{
            content: '';
            position: absolute;
            height: 10px;
            width: 10px;
            background: red;
            top: 100%;
            left: 10%;
            z-index: 10;
        }
    }
}

.contact-stats{
    h2{
        font-weight: 600;
        line-height: 40px;
    }

    .contact-us{
        border-right: 1px solid #e7ebee;
        
        form{
            textarea{
                height: 125px;
            }
            
            input::placeholder, textarea::placeholder{
                font-size: 14px;
            }
        }
    }
}

.featured-on{
    h2{
        font-weight: 400;
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
        }
    }
}

.signup{
    h2{
        font-weight: 600;
        line-height: 40px;
    }    

    p.mx-auto{
        max-width: 568px;
        color: #767a80;
        line-height: 1.8;
    }
}

footer{
    a, p{
        color: #767a80;  
    }

    h3{
        color: #333;
        font-size: 14px;
        font-weight: 400;
    }

    li{
        list-style-type: none;
    }

    li>a:hover{
        color: #222;
    }

    .copyright{
        color: #767a80; 
        border-top: 1px solid #ddd;
        .menu{
            li{
                display: inline-block;
            }
        }
    }
}
    
@media screen and (max-width: 992px){
	.navbar-nav>.nav-item{
		>a.btn{
			display: block;
		}
	}
}