@import "variables";
@import "utilities";

@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    font-family: 'Lato', sans-serif;
}

h3{
	font-size: 20px;
}

p.font-15{
	letter-spacing: .5px;
	color: rgba(255,255,255,.65);
}

.navbar-nav>.nav-item{
    margin: 5px;

    a.nav-link{
        color: #000000bf;
        font-size: 14px;

        &:hover{
            color: #000;
        }
    }
}

.section-header{
    h2{
        font-weight: 600;
        line-height: 40px;
    }    

    p.mx-auto{
        max-width: 568px;
        color: #767a80;
        line-height: 1.8;
    }
}

footer{
    color: #767a80;

    h3{
        font-size: 14px;
    }

    li{
        list-style-type: none;
    }
    .copyright{
        border-top: 1px solid #ddd;
        .menu{
            li{
                display: inline-block;
            }
        }
    }
@media screen and (max-width: 992px){
	.navbar-nav>.nav-item{
		>a.btn{
			display: block;
		}
	}
}