@import "variables";
@import "utilities";

@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    font-family: 'Lato', sans-serif;
}

.navbar-nav>.nav-item{
    margin: 0px 5px;

    a.nav-link{
        color: #000000bf;
        font-size: 14px;

        &:hover{
            color: #000;
        }
    }
}